<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Apps</title>
</head>
<body>
  <a class="skip-link" href="#maincontent">Menuju ke konten</a>
  <header>
    <div class="app-bar">
      <div class="brand-logo">
        <img src="images/heros/logo/mabes.png" alt="Restaurant Apps Logo">
        <span class="brand-name">Restaurant Apps</span>
      </div>
      <nav>
        <ul class="navbar">
          <li><a href="/">Home</a></li>
          <li><a href="#favorite">Favorite</a></li>
          <li><a href="https://www.instagram.com/rusmahadie/">About Us</a></li>
        </ul>
      </nav>
      <div class="hamburger-icon">
        <button class="hamburger-button" aria-label="Toggle Navigation Drawer" aria-expanded="false">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
    <div class="navigation-drawer">
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#favorite">Favorite</a></li>
        <li><a href="https://www.instagram.com/rusmahadie/">About Us</a></li>
      </ul>
    </div>
  </header>
  <main id="maincontent">
    <section id="home">
      <div class="jumbotron">
        <img src="images/heros/hero-image_1.jpg" alt="Hero Image">
        <div class="hero-text">Selamat datang di resto kami</div>
      </div>
    </section>

    <section id="restaurant-list" class="card">
      <h2>Restaurants</h2>
      <div class="restaurant-list">
      </div>
    </section>
  </main>

  <footer>
    <p>&copy; 2023 Restaurant Apps. All rights reserved.</p>
  </footer>
</body>
</html>