@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

header {
  background-color: #3D8361;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 10px;
}

.skip-link {
  position: absolute;
  top: -50;
  left: 0;
  background-color: #333;
  color: #fff;
  padding: 10px;
  z-index: 9999;
}
.skip-link:focus {
  top: 0;
}

.skip-link a {
  color: #fff;
  text-decoration: none;
}



.app-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.brand-logo {
  display: flex;
  align-items: center;
}

.brand-logo img {
  width: 40px;
  height: 40px;
}

.brand-name {
  margin-left: 10px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 15px;
}

.hamburger-icon {
  display: none;
}

.hamburger-button {
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.hamburger-button span {
  display: block;
  width: 24px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: background-color 0.3s ease-in-out;
}

.hamburger-button span:first-child {
  transform-origin: top left;
}

.hamburger-button span:last-child {
  transform-origin: bottom left;
}

.navigation-drawer {
  display: none;
  background-color: #f2f2f2;
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
}

.navigation-drawer ul {
  list-style: none;
}

.navigation-drawer ul li {
  margin-bottom: 5px;
}

.navigation-drawer ul li a {
  padding:  15px;
}

.jumbotron {
  display: flex;
  align-items: flex-end;
  min-height: 400px;
  width: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.jumbotron img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-image {
  max-width: 100%;
  height: auto;
}

h2 {
  margin: 20px 0;
  text-align: center;
}

#restaurant-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: stretch;
  gap: 20px;
}

.restaurant-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.card {
  border-radius: 5px;
  padding: 20px;
}

.restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.restaurant-image {
  max-width: 300px;
  border-radius: 5px;
  margin: 20px;
}

.restaurant-name {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

.restaurant-description {
  text-align: center;
  margin-bottom: 20px;
}

.restaurant p {
  text-align: justify;
  max-width: 300px;
}

.restaurant h3 {
  text-align: center;
  margin-bottom: 10px;
}

footer {
  background-color: #1C6758;
  color: white;
  font-size: 14px;
  padding: 2em;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .app-bar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .brand-logo img {
    width: 30px;
    height: 30px;
  }

  .brand-name {
    display: none;
  }

  nav ul {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }

  .navigation-drawer {
    display: none;
  }

  .hamburger-button {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .hero-text {
    font-size: 16px;
  }

  .restaurant-image {
    max-width: 100%;
    height: auto;
  }
}

.navigation-drawer.show {
  display: block;
}
